.settings-container {
    margin: auto;
    height: 660px;
    width: 800px;
    background-color: white;
    border: 2px solid #e6e6e6;
    display: flex;
}

.settings-menu {
    width: 200px;
    height: 100%;
    border-right: 1px solid #e6e6e6;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.settings-menu-btn {
    display: flex;
    flex-direction: column;
}

.settings-menu-btn button {
    height: 50px;
    justify-content: flex-start;
    display: flex;
    align-items: center;
    padding: 20px;
    background-color: transparent;
    border: none;
    cursor: pointer;
    font-size: 15px;
}

.settings-menu-btn button:hover {
    background-color: #fafafa;
}

.settings-content {
    width: 600px;
    padding: 20px;
}

.edit-profile-container {

}

.edit-profile-header {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px;
    padding: 5px;
}

.edit-profile-header img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    object-fit: cover;
}

.edit-profile-form {
    display: flex;
}

.edit-profile-form h4 {
    width: 130px;
    height: 70px;
    justify-content: flex-end;
    display: flex;
    padding-top: 28px;
}

.edit-profile-form input {
    width: 350px;
    height: 32px;
    font-size: 15px;
    padding-left: 5px;
}

.edit-profile-form textarea {
    min-height: 150px;
    width: 350px;
    outline: none;
    resize: none;
    font-family: "Roboto", sans-serif;
    font-size: 15px;
    padding: 5px;
}

.edit-profile-form p {
    font-size: 13px;
    color: #888888;
    padding-top: 5px;
}

.edit-profile-btn {
    margin: auto;
    width: 50px;
}

.change-avatar-container {
    padding: 20px;
    display: flex;
    flex-direction: column;
}

.change-avatar-container input[type="file"] {
    display: none;
}

.change-avatar-container img {
    width: 300px;
    height: 300px;
    border-radius: 50%;
    object-fit: cover;
}

.custom-avatar-upload {
    margin: auto;
    display: inline-block;
    cursor: pointer;
    background-color: transparent;
    width: 300px;
    height: 300px;
    border-radius: 50%;
}

.chosen {
    border-left: solid #0095f6 !important;
    font-weight: bold !important;
}
