* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  background-color: #fafafa;
  color: #262626;
}

.App {
  display: flex;
  width: 100%;
}

.mainContainer {
  display: flex;
  justify-content: center;
  min-height: 100vh;
  width: 100%;
}

.box {
  max-width: 350px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #ffff;
  border: 1px solid #e6e6e6;
  border-radius: 1px;
  margin: 0 0 10px;
  padding: 10px 0;
  flex-grow: 1;
}

.login-form {
  max-width: 16rem;
}

.field {
  margin: 10px 0;
  position: relative;
  font-size: 14px;
  width: 100%;
  text-overflow: ellipsis;
}

.field input {
  padding: 9px 0 7px 9px;
  font-size: 14px;
  width: 16rem;
  height: 2.3rem;
  outline: none;
  background: #fafafa;
  border-radius: 3px;
  border: 1px solid #efefef;
  text-overflow: ellipsis;
}

/* label intial position*/

.field label {
  position: absolute;
  pointer-events: none;
  left: 10px;
  padding-bottom: 15px;
  transform: translateY(10px);
  line-height: 6px;
  transition: all ease-out 0.1s;
  font-size: 14px;
  color: #999;
  padding-top: 6px;
}

/* hiding placeholder in all browsers */

.field input::placeholder {
  visibility: hidden;
}

/* hiding  placeholder in mozilla */
.login-form ::-moz-placeholder {
  color: transparent;
}

/* label final position */
.field input:not(:placeholder-shown) + label {
  transform: translateY(0);
  font-size: 11px;
}

/* input padding increases if placeholder is not shown */
.field input:not(:placeholder-shown) {
  padding-top: 14px;
  padding-bottom: 2px;
}

.btn-form {
  text-align: center;
  width: 100%;
  padding: 0.6rem;
  border: 1px solid transparent;
  background-color: #3897f0;
  color: #fff;
  font-weight: 600;
  font-size: 14px;
  cursor: pointer;
  border-radius: 4px;
}

.btn-form:disabled {
  background-color: rgba(0, 149, 246, 0.3);
  cursor: unset;
}

.goto {
  padding: 10px;
  margin-bottom: 10px;
}

.goto h1 {
  font-size: 45px;
  font-family: 'Papyrus',cursive;
  text-align: center;
  background: #f09433;
  background: -moz-linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%);
  background: -webkit-linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%);
  background: linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.goto h5 {
  font-size: 17px;
  text-align: center;
  color: #8e8e8e;
  margin: 15px;
}

.goto p {
  font-size: 14px;
  margin: 15px;
  text-align: center;
}

.goto a {
  text-decoration: none;
  color: #0095f6;
  font-size: inherit;
  line-height: 18px;
  font-weight: 600;
}

.flexGrow {
  flex-grow: 1;
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
}

.errmsg {
  background-color: lightpink;
  color: firebrick;
  font-weight: bold;
  padding: 0.5rem;
  margin-bottom: 0.5rem;
  text-align: center;
}

.hide {
  display: none;
}

.cmt-disabled:disabled {
  opacity: 0.5;
  cursor: unset;
}