.mess-page {
    width: 1000px;
    height: 720px;
    padding: 20px;
    margin: auto;
}

.mess-container {
    width: 100%;
    height: 100%;
    background-color: white;
    border: 1px solid #e6e6e6;
    display: flex;
}

.mess-users {
    width: 30%;
    border-right: 1px solid #e6e6e6;
}

.mess-user {
    width: 100%;
    height: 60px;
    display: flex;
    margin-bottom: 10px;
    align-items: center;
    cursor: pointer;
    padding: 5px;
    border-radius: 20px;
}
.mess-selected {
    background-color: rgb(245, 241, 241);
}
.mess-user:hover {
    background-color: rgb(245, 241, 241);
}

.mess-user img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 15px;
}

.mess-main {
    width: 70%;
}

.mess-auth {
    height: 60px;
    border-bottom: 1px solid #e6e6e6;
    text-align: center;
    padding: 0 20px;
}

.mess-auth h4 {
    padding: 20px;
}

.mess-main-header {
    border-bottom: 1px solid #e6e6e6;
    border-radius: 0;
    text-decoration: none;
    color: black;
}
.mess-main-header:hover {
    background-color: white;
}
.mess-main-header img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 15px;
    margin-left: 60px;
}

.mess-inbox {
    height: 560px;
    width: 100%;
    overflow-y: scroll;
    padding: 20px;
}

.message {
    display: flex;
    flex-direction: column;
    margin: 10px 0;
}

.messageTop{
    display: flex;
}

.messageImg {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    object-fit: cover;
    margin-top: 4px;
    margin-right: 10px;
}

.messageText{
    padding: 10px;
    border-radius: 20px;
    background-color: rgb(245, 241, 241);
    color: black;
    max-width: 300px;
}

.messageBottom{
    font-size: 12px;
    margin-top: 5px;
    color: #888888;
}

.message.own{
    align-items: flex-end;
}

.message.own .messageImg {
    margin-left: 10px;
    margin-right: 0;
}

.message.own .messageText{
    background-color: violet;
    color: white;
}

.mess-input {
    height: 7%;
    width: 100%;
    padding: 10px 0;
    display: flex;
    border-top: 1px solid #e6e6e6;
}

.mess-input textarea {
    height: 100%;
    width: 600px;
    outline: none;
    resize: none;
    font-family: "Roboto", sans-serif;
    font-size: 15px;
    padding: 5px;
    border-radius: 20px;
}

.mess-input button {
    margin: 0 20px;
    color: #0095f6;
    border: none;
    background-color: white;
    font-weight: bold;
    font-size: 17px;
    cursor: pointer;
}