.admin-container {
    margin: auto;
}

.admin-header {
    display: flex;
}

.admin-header button {
    border: none;
    width: 30px;
    height: 30px;
    background-color: transparent;
    margin: 0 15px;
    cursor: pointer;
    color: #0095f6;
}

.admin-statistic {
    display: flex;
    margin: 10px 0;
    justify-content: center;
}

.statistic-box {
    width: 230px;
    height: 130px;
    background-color: white;
    border: 1px solid #e6e6e6;
    margin: 10px;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    border-radius: 20px;
    box-shadow: 2px 2px 5px #888888;
}